<div class="pagination-wrapper">
	<div class="pagination">
		<button class="prev page-numbers" href="#">prev</button>
		<button class="page-numbers current">1</button>
		<button class="page-numbers" href="#">2</button>
		<button class="page-numbers" href="#">3</button>
		<button class="page-numbers" href="#">4</button>
		<button class="page-numbers" href="#">5</button>
		<button class="page-numbers" href="#">6</button>
		<button class="page-numbers" href="#">7</button>
		<button class="page-numbers" href="#">8</button>
		<button class="page-numbers" href="#">9</button>
		<button class="page-numbers" href="#">10</button>
		<button class="next page-numbers" href="#">next</button>
	</div>
</div>