<form class="register">
	<div class="form-group">
		<span>Teacher name: </span>
		<input type="text" class="form-field" placeholder="Teacher name">
	</div>

	<select class="selectpicker" data-live-search="true" name="groups" id="groups">
		<option selected value="group1">Group 1</option>
		<option value="group2">Group 2</option>
		<option value="group3">Group 3</option>
	</select>

	<select class="selectpicker" data-live-search="true" name="disciplines" id="disciplines">
		<option selected value="programming">Programming</option>
		<option value="it-essentials">IT Essentials</option>
		<option value="web-design">Web design</option>
	</select>
	<input style="margin-top: 20px;" type="submit" class="btn btn-danger" value="Add teacher"></input>
</form>