<table>
	<thead>
		<tr>
			<th>Theme</th>
			<th>Type</th>
			<th>Description</th>
			<th>Order</th>
			<th class="download">Download</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Theme 1</td>
			<td>Lecture</td>
			<td>Description 1</td>
			<td>Order 1</td>
			<td>
				<div class="table-img">
					<img src="../../../images/icons/download-icon.png" alt="download">
				</div>
			</td>
		</tr>

		<tr>
			<td>Theme 2</td>
			<td>Self</td>
			<td>Description 2</td>
			<td>Order 2</td>
			<td>
				<div class="table-img">
					<img src="../../../images/icons/download-icon.png" alt="download">
				</div>
			</td>
		</tr>

		<tr>
			<td>Theme 3</td>
			<td>Lecture</td>
			<td>Description 3</td>
			<td>Order 3</td>
			<td>
				<div class="table-img">
					<img src="../../../images/icons/download-icon.png" alt="download">
				</div>
			</td>

		</tr>

		<tr>
			<td>Theme 4</td>
			<td>Self</td>
			<td>Description 4</td>
			<td>Order 4</td>
			<td>
				<div class="table-img">
					<img src="../../../images/icons/download-icon.png" alt="download">
				</div>
			</td>
		</tr>

		<tr>
			<td>Theme 5</td>
			<td>Lecture</td>
			<td>Description 5</td>
			<td>Order 5</td>
			<td>
				<div class="table-img">
					<img src="../../../images/icons/download-icon.png" alt="download">
				</div>
			</td>
		</tr>
	</tbody>
</table>