<h1 [appGrade]="10" [maxValue]="100"><b>temp-works</b></h1>
<h1 [appGrade]="17" [maxValue]="100"><b>temp-works</b></h1>
<h1 [appGrade]="36" [maxValue]="100"><b>temp-works</b></h1>
<h1 [appGrade]="60" [maxValue]="100"><b>temp-works</b></h1>
<h1 [appGrade]="80" [maxValue]="100"><b>temp-works</b></h1>
<h1 [appGrade]="90" [maxValue]="100"><b>temp-works</b></h1>

<br>

<h1 [appGrade]="10" [maxValue]="100">temp-works</h1>
<h1 [appGrade]="17" [maxValue]="100">temp-works</h1>
<h1 [appGrade]="36" [maxValue]="100">temp-works</h1>
<h1 [appGrade]="60" [maxValue]="100">temp-works</h1>
<h1 [appGrade]="80" [maxValue]="100">temp-works</h1>
<h1 [appGrade]="90" [maxValue]="100">temp-works</h1>
