<!--WHAT TO USE
1. Login component-->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../general/null.css">
	<link rel="stylesheet" href="../../general/general.css">
	<link rel="stylesheet" href="../../components/login/style.css">
	<link rel="stylesheet" href="./style.css">
	<title>Document</title>
</head>

<body>
	<div class="flex f-between">
		<div class="fw-60 login-bg">
		</div>
		<div class="fw-40">
			<div class="container">
				<div class="flex f-between align-center">
					<div class="login-icon">
						<img src="../../images/header-logo.jpg" alt="">
					</div>
					<h3>EUniversity</h3>
				</div>
				<form class="form__group">
					<input type="text" class="form__field" placeholder="Login" name="login" id="login" required />
					<label for="login" class="form__label">Login</label>
				</form>

				<form class="form__group">
					<input type="password" class="form__field" placeholder="Password" name="password" id="password"
						required />
					<label for="password" class="form__label">Password</label>
				</form>
			</div>
		</div>
	</div>
</body>

</html>