<!--WHAT TO USE
-------------------------------------------------------------------------------------
1. aside-menu component
2. table-student component
3. modal component
4. add-student component
5. edit-student component
6. table-student component
------------------------------------------------------------------------------------>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../general/null.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../general/general.css" />
    <link rel="stylesheet" href="style.css" />
	 <link rel="stylesheet" href="../../components/aside menu/style.css">
    <link rel="stylesheet" href="../../components/modal/style.css" />
	<link rel="stylesheet" href="../../shared/modal.css" />
    <link rel="stylesheet" href="../../shared/table-block.css" />

    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/531ea72487.js"
      crossorigin="anonymous"
    ></script>

    <title>Admin students</title>
  </head>

  <body>
    <aside>
      <!--ASIDE MENU-->
      <div class="nav-side-menu">
      <div class="brand">
        <div class="brand-logo">
          <img src="../../images/header-logo.jpg" alt="header logo" />
        </div>
        <h2>EUniversity</h2>
        <div class="burger">
          <span></span>
        </div>
      </div>

      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="admin-panel.html">
              <i class="fas fa-home fa-lg"></i> Home
            </a>
          </li>

          <li data-toggle="collapse" data-target="#accounts" class="collapsed">
            <a
              ><i class="fa fa-users fa-lg"></i> Accounts
              <span class="arrow"></span
            ></a>
          </li>
          <ul class="sub-menu collapse" id="accounts">
            <li><a href="admin-students.html">Students</a></li>
            <li><a href="admin-teachers.html">Teachers</a></li>
            <li><a href="admin-admins.html">Admins</a></li>
          </ul>

          <li
            data-toggle="collapse"
            class="active"
            data-target="#groups"
            class="collapsed"
          >
            <a
              ><i class="fa fa-users fa-lg"></i> Groups
              <span class="arrow"></span
            ></a>
          </li>
          <ul class="sub-menu collapse" id="groups">
            <li class="active"><a href="admin-groups.html">Groups</a></li>
            <li><a href="admin-groups-students.html">Students</a></li>
            <li>
              <a href="admin-groups-teachers.html">Teachers & Disciplines</a>
            </li>
          </ul>

          <li>
            <a href="#">
              <i class="fa fa-solid fa-book-open fa-lg"></i> Materials
            </a>
          </li>
        </ul>
      </div>
    </div>
      <!--ASIDE MENU-->
    </aside>

    <main class="main">
		<!--TABLE-STUDENT COMPONENT-->
      <div class="table-block">
			<div class="table-block__header">
       	 	<h3 class="table-block__title">Students list</h3>
				<div class="btn btn-danger add-btn">Add</div>
			</div>

        <div class="table-block__content">
          <div class="table-container">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Full name</th>
                  <th>Login</th>
                  <th>Password</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th>1</th>
                  <td>John Johnson</td>
                  <td>JohnJohnson</td>
                  <td>JohnJohnson123</td>
                  <td class="td-blue">
                    <div class="table-btn change-btn">
                      <i class="fas fa-pencil-alt"></i>
                    </div>
                  </td>
                  <td class="td-red">
                    <div class="table-btn remove-btn">
                      <i class="fas fa-times"></i>
                    </div>
                  </td>
                </tr>

                <tr>
                  <th>1</th>
                  <td>Jack Jackson</td>
                  <td>JackJackson</td>
                  <td>JackJackson123</td>
                  <td class="td-blue">
                    <div class="table-btn change-btn">
                      <i class="fas fa-pencil-alt"></i>
                    </div>
                  </td>
                  <td class="td-red">
                    <div class="table-btn remove-btn">
                      <i class="fas fa-times"></i>
                    </div>
                  </td>
                </tr>

                <tr>
                  <th>1</th>
                  <td>Tom Tomson</td>
                  <td>TomTomson</td>
                  <td>TomTomson123</td>
                  <td class="td-blue">
                    <div class="table-btn change-btn">
                      <i class="fas fa-pencil-alt"></i>
                    </div>
                  </td>
                  <td class="td-red">
                    <div class="table-btn remove-btn">
                      <i class="fas fa-times"></i>
                    </div>
                  </td>
                </tr>

                <tr>
                  <th>1</th>
                  <td>Daniel Radcliffe</td>
                  <td>DanielRadcliffe</td>
                  <td>DanielRadcliffe123</td>
                  <td class="td-blue">
                    <div class="table-btn change-btn">
                      <i class="fas fa-pencil-alt"></i>
                    </div>
                  </td>
                  <td class="td-red">
                    <div class="table-btn remove-btn">
                      <i class="fas fa-times"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
		<!--TABLE-STUDENT COMPONENT-->

      <div class="modal" id="students-add">
        <div class="modal-content" style="width: 500px">
          <span id="closeStudentsAddBtn" class="close">&times;</span>
			 <!--ADD-STUDENT COMPONENT-->
			 	<form class="register">
					<div class="form-group">
						<span>Login: </span>
						<input type="text" class="form-field" placeholder="Login">
					</div>

					<div class="form-group">
						<span>Password: </span>
						<input type="password" class="form-field" placeholder="Password">
					</div>

					<div class="form-group">
						<span>Full name: </span>
						<input type="text" class="form-field" placeholder="Full name">
					</div>

					<div class="form-group">
						<span>Age: </span>
						<input type="number" class="form-field" placeholder="Age">
					</div>
					<input type="submit" class="btn btn-danger" value="Add student"></input>
				</form>
				<!--ADD-STUDENT COMPONENT-->
        </div>
      </div>

      <div class="modal" id="students-change">
        <div class="modal-content" style="width: 500px">
          <span id="closeStudentsChangeBtn" class="close">&times;</span>
				<!--EDIT-STUDENT COMPONENT-->
			 	<form class="register">
					<div class="form-group">
						<span>Login: </span>
						<input type="text" class="form-field" placeholder="Login">
					</div>

					<div class="form-group">
						<span>Password: </span>
						<input type="password" class="form-field" placeholder="Password">
					</div>

					<div class="form-group">
						<span>Full name: </span>
						<input type="text" class="form-field" placeholder="Full name">
					</div>

					<div class="form-group">
						<span>Age: </span>
						<input type="number" class="form-field" placeholder="Age">
					</div>
					<input type="submit" class="btn btn-info" value="Save changes"></input>
				</form>
				<!--EDIT-STUDENT COMPONENT-->
        </div>
      </div>
    </main>
    <script src="../../components/modal/app.js"></script>
    <script src="app.js"></script>
  </body>
</html>
