body {
	background-color: #eee;
}

.main {
	margin-left: 310px;
	padding: 20px;
}

.input-group {
	width: 100% !important;
	height: 100% !important;
	z-index: 1 !important;

	input {
		height: 100% !important;
	}
}

.img {
	width: 64px;
	height: 64px;
	img {
		width: 100%;
		height: 100%;
	}
}

.icon {
	width: 32px;
	height: 32px;
	margin: 0 auto;
	img {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 1158px) {
	.table-block__title {
		flex: 1 0 85% !important;
	}
}

@media (max-width: 900px) {
	.table-block__title {
		flex: 1 0 80% !important;
	}
}

@media (max-width: 767px) {
	.main {
		margin-top: 70px;
		margin-left: 0;
	}
}

@media (max-width: 450px) {
	.table-block__header {
		flex-direction: column !important;
	}

	.journal-selects {
		flex-direction: column;
	}

	.add-btn {
		margin-bottom: 20px;
	}
}
