body {
	background-color: #eee;
}

.main {
	margin-left: 310px;
	padding: 20px;
}

.input-group {
	width: 100% !important;
	height: 100% !important;
	z-index: 1 !important;

	input {
		height: 100% !important;
	}
}

@media (max-width: 767px) {
	.main {
		margin-top: 70px;
		margin-left: 0;
	}
}

@media (max-width: 670px) {
	.flex {
		flex-direction: column;
		row-gap: 20px;
	}

	.w-70 {
		width: 100% !important;
	}

	.w-30 {
		width: 100% !important;
	}
}
