<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../general/null.css" />
    <link rel="stylesheet" href="../../general/general.css" />
    <link rel="stylesheet" href="style.css" />
    <title>404 not found</title>
  </head>
  <body>
    <div class="body">
      <div class="container">
        <div class="notfound">
          <h1 class="notfound__title">404 not found</h1>
          <p class="notfound__text">Oops! This page couldn't be found</p>
          <a href="#" class="notfound__button">Back to home</a>
        </div>
      </div>
    </div>
  </body>
</html>
