<select class="selectpicker2 mb-20" data-live-search="true" [(ngModel)]="groupId" (change)="groupChanged()">
  <option value="0" class="d-none">Select group</option>
  <option *ngFor="let item of groupsDDL" value="{{item.id}}">{{item.name}}</option>
</select>

<select class="selectpicker2 mb-20" data-live-search="true" [(ngModel)]="disciplineId" (change)="changeMaterial()">
  <option value="0" class="d-none">Select discipline</option>
  <option *ngFor="let item of disciplinesDDL" value="{{item.id}}">{{item.name}}</option>
</select>

<select class="selectpicker2 mb-20" data-live-search="true" [(ngModel)]="studentId" (change)="changeMaterial()">
  <option value="0" class="d-none">Select student</option>
  <option *ngFor="let item of studentsDDL" value="{{item.id}}">{{item.name}}</option>
</select>

<div class="table-block">
  <div class="table-block__header">
    <h3 class="table-block__title">Student Materials</h3>
  </div>

  <app-search-input [searchText]="paginationDTO.search" (searchChange)="searchMaterials($event)"></app-search-input>

  <div class="table-block__content">
    <div class="table-container">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>File name</th>
            <th>Education process</th>
            <th>Description</th>
            <th>Order</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of materials.items">
            <th>{{item.id}}</th>
            <td>{{item.fileName}}</td>
            <td>{{item.educationalProcess}}</td>
            <td>{{item.description}}</td>
            <td>{{item.order}}</td>
            <td class="td-green">
              <div class="table-btn download-btn" (click)="downloadMaterial(item)">
                <i class="fas fa-file-download fa-lg"></i>
              </div>
            </td>
            <td class="td-red">
              <div class="table-btn remove-btn" (click)="removeMaterial(item.id)">
                <i class="fas fa-times fa-lg"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <app-pagination [allItemsCount]="materials.allItemsCount" [pageSize]="paginationDTO.pageSize"
        [lengthOfComponent]="10" (pageChange)="onPageChanged($event)">
      </app-pagination>
    </div>
  </div>
</div>
