<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../../general/null.css">
	<link rel="stylesheet" href="../../general/general.css">
	<link rel="stylesheet" href="style.css">
	<title>Burger</title>
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="header__body">
				<div class="header__logo">
					<img src="../../images/header-logo.jpg" alt="header logo">
				</div>
				<div class="header__burger">
					<span></span>
				</div>
				<nav class="header__menu">
					<ul class="header__list">
						<li>
							<a href="#" class="header__link">Home</a>
						</li>

						<li>
							<a href="#" class="header__link">Schedule</a>
						</li>

						<li>
							<a href="#" class="header__link">Journal</a>
						</li>

						<li>
							<a href="#" class="header__link">Materials</a>
						</li>

						<li>
							<a href="#" class="header__link">Profile</a>
						</li>

						<li>
							<a href="#" class="header__link">Contact Us</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<script src="app.js"></script>
</body>

</html>