.footer {
	position: relative;
	margin-top: 150px;
	bottom: 0;
	left: 70px;
	bottom: 0;
	background: #252c33;
	padding: 20px 100px;
	&-info {
		display: flex;
		justify-content: space-between;
	}
	&-column {
		flex: 0 1 33.333%;
		height: 100%;
		h5 {
			font-size: 20px;
			color: #f1f1f1;
			font-weight: 700;
		}
		p {
			color: #d6d6d6;
			letter-spacing: 1.3px;
			line-height: 150%;
		}
		li {
			color: #d6d6d6;
			letter-spacing: 1.3px;
			line-height: 150%;
			a {
				color: #d6d6d6;
				letter-spacing: 1.3px;
				line-height: 150%;
				&:hover {
					text-decoration: underline !important;
				}
			}
		}
	}
	&-links {
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 50px;
	}
	&-btn {
		display: inline;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		padding: 5px;
		transition: all 0.3s ease 0s;
		img {
			width: 100%;
			height: 100%;
		}
		&_violet {
			border: 1px solid #39008f;
			&:hover {
				background-color: #9b58ff;
			}
		}
		&_blue {
			border: 1px solid #004a8f;
			&:hover {
				background-color: #58caff;
			}
		}
		&_red {
			border: 1px solid #8f5600;
			&:hover {
				background-color: #9b6f2c;
			}
		}
		&_green {
			border: 1px solid #008f30;
			&:hover {
				background-color: #58ff90;
			}
		}
	}
	&-bottom {
		margin-top: 40px;
		text-align: center;
		font-weight: 400;
		color: #a0a0a0;
	}

	@media (max-width: 767px) {
		left: 0;
		margin-top: 30px;
		&-info {
			flex-direction: column;
		}
		&-column {
			flex: 0 1 100%;
		}
	}

	@media (max-width: 700px) {
	}

	@media (max-width: 560px) {
		padding: 20px;
		&-links {
			justify-content: left;
			column-gap: 20px;
		}
	}

	@media (max-width: 360px) {
		padding: 10px;
		&-links {
			justify-content: left;
			column-gap: 10px;
		}
		#description {
			display: none;
		}
	}
}
