<form class="container" [formGroup]="loginForm">
  <div class="form__group">
    <input type="text" class="form__field" placeholder="Login" formControlName="login">
    <label class="form__label">Login</label>
    <small *ngIf="login?.invalid && (login?.touched || login?.dirty)">login is required</small>
  </div>

  <div class="form__group">
    <input type="password" class="form__field" placeholder="Password" formControlName="password">
    <label class="form__label">Password</label>
    <small *ngIf="password?.invalid && (password?.touched || password?.dirty)">password is required</small>
  </div>

  <input type="submit" value="Sign In" (click)="signIn()">
</form>
