.journal {
	&__tiles {
		position: relative;
		.tile-container {
			justify-content: left;
			height: 100%;
			flex: 1 0 20%;

			.tile__date {
				width: 100%;
				height: 100px;
				border-radius: 10px;
				background-color: #fff;

				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 20px;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			}

			.tiles {
				display: flex;
				column-gap: 20px;

				.tile {
					width: 100%;
				}
			}
		}
	}

	.tile {
		height: 400px;
		overflow: auto;
		border-radius: 10px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		transition: all 0.3s ease 0s;
		user-select: none;
		.date {
			background-color: #fff;
			margin: 0;
			h3 {
				color: #000;
				font-weight: 700;
				margin: 0;
				padding: 10px 0;
			}
		}
		.content {
			padding: 10px;
			padding-left: 30px;
		}
		&:hover {
			transform: scale(0.97);
		}
		h3 {
			font-weight: 500;
			span {
				font-weight: 700;
				letter-spacing: 1px;
				line-height: 150%;
			}
		}
		.center {
			font-weight: 700;
			text-align: center;
		}

		&_green {
			background: linear-gradient(to top, #58b47b, #43b1a8);
			h3 {
				color: #faffdc;
				span {
					color: #4301ac;
				}
			}
			.center {
				color: #4301ac;
			}
		}
		&_red {
			background: linear-gradient(to top, #ce746c, #8b313a);
			.center {
				color: #ffdcdc;
				font-size: 30px;
			}
		}

		&_blue {
			background: linear-gradient(to bottom, #7fa6da, #409bb9);

			.center {
				color: #e2f4ff;
				font-size: 30px;
			}
		}

		&_grey {
			background: linear-gradient(to bottom, #dddddd, #c9c9c9);
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #fff;
		transition: all 0.5s ease 0s;
		&:after {
			content: "";
			width: 20px;
			height: 20px;
			border: solid #8b313a;
			text-align: center;
			border-width: 0 3px 3px 0;
			display: inline-block;
		}
		&:hover {
			background-color: #8b313a;
			&:after {
				border-color: #fff;
			}
		}
	}

	.swiper-button-prev {
		&:after {
			transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
			margin-left: 8px;
		}
	}

	.swiper-button-next {
		&:after {
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			margin-right: 8px;
		}
	}
}
