<!-- <div class="flex col-gap-20 mb-50">
  <a href="#" class="fw-30">
    <div class="fw-30 table-block table-block_green">
      <div class="front">
        <div class="table-block__header">
          <h3 class="table-block__title fw-50">Students page</h3>
          <img src="../../../assets/icons/student-icon.png" alt="student icon">
        </div>
      </div>
      <div class="back">
        <div class="flex align-center f-between h-100 w-100">
          <p class="fw-90">This page is using for adding, editing and removing students.</p>
          <i class="fas fa-arrow-right fw-10 fa-lg"></i>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="fw-30">
    <div class="table-block table-block_blue">
      <div class="front">
        <div class="table-block__header">
          <h3 class="table-block__title fw-50">Teachers page</h3>
          <img src="../../../assets/icons/teacher-icon.png" alt="teacher icon">
        </div>
      </div>

      <div class="back">
        <div class="flex align-center f-between h-100 w-100">
          <p class="fw-90">This page is using for adding, editing and removing teachers.</p>
          <i class="fas fa-arrow-right fw-10 fa-lg"></i>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="fw-30">
    <div class="fw-30 table-block table-block_red">
      <div class="front">
        <div class="table-block__header">
          <h3 class="table-block__title fw-50">Disciplines page</h3>
          <img src="../../../assets/icons/discipline-icon.png" alt="discipline icon">
        </div>
      </div>

      <div class="back">
        <div class="flex align-center f-between h-100 w-100">
          <p class="fw-90">This page is using for adding, editing and removing disciplines.</p>
          <i class="fas fa-arrow-right fw-10 fa-lg"></i>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="flex col-gap-20 mb-50">
  <a href="#" class="fw-30">
    <div class="fw-30 table-block table-block_orange">
      <div class="front">
        <div class="table-block__header">
          <h3 class="table-block__title fw-50">Groups page</h3>
          <img src="../../../assets/icons/groups-icon.png" alt="groups icon">
        </div>
      </div>
      <div class="back">
        <div class="flex align-center f-between h-100 w-100">
          <p class="fw-90">This page is using for adding, editing and removing groups.</p>
          <i class="fas fa-arrow-right fw-10 fa-lg"></i>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="fw-30">
    <div class="table-block table-block_violet">
      <div class="front">
        <div class="table-block__header">
          <h3 class="table-block__title fw-50">Schedule page</h3>
          <img src="../../../assets/icons/schedule-icon.png" alt="schedule icon">
        </div>
      </div>

      <div class="back">
        <div class="flex align-center f-between h-100 w-100">
          <p class="fw-90">This page is using for adding, editing and removing schedule.</p>
          <i class="fas fa-arrow-right fw-10 fa-lg"></i>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="flex col-gap-20">
  <a href="#" class="fw-30">
    <div class="fw-30 table-block table-block_yellow">
      <div class="front">
        <div class="table-block__header">
          <h3 class="table-block__title fw-50">Groups page</h3>
          <img src="../../../assets/icons/groups-icon.png" alt="groups icon">
        </div>
      </div>
      <div class="back">
        <div class="flex align-center f-between h-100 w-100">
          <p class="fw-90">This page is using for adding, editing and removing groups.</p>
          <i class="fas fa-arrow-right fw-10 fa-lg"></i>
        </div>
      </div>
    </div>
  </a>
</div> -->
