/*CONTAINER*/
.container {
	max-width: 1180px;
	margin: 0 auto;
}
/*CONTAINER*/

/*BUTTONS*/
.btn {
  width: 100%;
  padding: 0.6rem 1.8rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  font-size: 2rem;
}

.btn-success {
	background-color: #51d45c;
	color: #005707;
	&:hover {
		background-color: #45b44e;
		color: #fff;
	}
}

.btn-info {
	background-color: #86c6fa;
	color: #000d57;
	&:hover {
		background-color: #508ec0;
		color: #fff;
	}
}

.btn-danger {
	background-color: #fa8686;
	color: #570000;
	&:hover {
		background-color: #d36161;
		color: #fff;
	}	
}

.btn-warning {
	background-color: #ffc14e;
	color: #573900;
	&:hover {
		background-color: #dda030;
		color: #fff;
	}
}
/*BUTTONS*/

/*GENERAL BLOCKS*/
.admin-block {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	box-shadow: #64646f33 0px 7px 29px 0px;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: left;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.column-30 {
	flex: 0 1 30%;
}

.column-70 {
	flex: 0 1 70%;
}
/*GENERAL BLOCKS*/