<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="style.css">
	<title>Aside menu</title>
</head>
<body>
	<div class="sidebar">
		<a href="#" class="link">Students</a>
		<a href="#" class="link">Teachers</a>
		<a href="#" class="link">Admins</a>
	</div>
	<div class="wrapper">
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit voluptate est rem! Laborum corrupti magni quo dolorum
		voluptatem ipsa suscipit. Nisi voluptas deleniti, eaque ab obcaecati dignissimos nihil eligendi ea?</p>
	</div>
	<script src="app.js"></script>
</body>
</html>
