<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../../general/null.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="../../general/general.css">
	<link rel="stylesheet" href="style.css">




	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
	<title>Aside menu</title>
</head>

<body>
	<!doctype html>
	<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="../../general/null.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
		<link rel="stylesheet" href="../../general/general.css">
		<link rel="stylesheet" href="style.css">
	
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="https://kit.fontawesome.com/531ea72487.js" crossorigin="anonymous"></script>
	
		<title>Aside menu</title>
	</head>
	
	<body>
		<aside>
			<div class="nav-side-menu">
				<div class="brand">
					<div class="brand-logo">
						<img src="../../images/header-logo.jpg" alt="header logo">
					</div>
					<h2>EUniversity</h2>
				</div>
			
				<div class="menu-list">
			
					<ul id="menu-content" class="menu-content collapse out">
			
						<li>
							<a href="admin-panel.html">
								<i class="fas fa-home fa-lg"></i> Home
							</a>
						</li>
			
						<li data-toggle="collapse" data-target="#accounts" class="collapsed active">
							<a><i class="fa fa-users fa-lg"></i> Accounts <span class="arrow"></span></a>
						</li>
						<ul class="sub-menu collapse" id="accounts">
							<li class="active"><a href="admin-students.html">Students</a></li>
							<li><a href="admin-teachers.html">Teachers</a></li>
							<li><a href="admin-admins.html">Admins</a></li>
						</ul>
			
			
						<li>
							<a href="#">
								<i class="fa fa-solid fa-book-open fa-lg"></i> Materials
							</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>


		<main class="main">
			<div class="row">
				<div class="column-30">
					<div class="admin-block">
						<h3 class="admin-block__title">Registration</h3>
						<div class="admin-block__content">
							<form class="register">
								<div class="form-group">
									<span>Login: </span>
									<input type="text" class="form-field" placeholder="Login">
								</div>
					
								<div class="form-group">
									<span>Password: </span>
									<input type="password" class="form-field" placeholder="Password">
								</div>
					
								<div class="form-group">
									<span>Full name: </span>
									<input type="text" class="form-field" placeholder="Full name">
								</div>
					
								<input type="submit" class="btn btn-info" value="Register"></input>
							</form>
						</div>
					</div>
				</div>

				<div class="column-70">
					<div class="admin-block">
						<h3 class="admin-block__title">Lorem...</h3>
						<div class="admin__content">

						</div>
					</div>
				</div>
			</div>
			
			<div class="admin-block">
				<h3 class="admin-block__title">Students list</h3>
				<div class="admin-block__content">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Full name</th>
								<th>Login</th>
								<th>Password</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<th>1</th>
								<td>John Johnson</td>
								<td>JohnJohnson</td>
								<td>JohnJohnson123</td>
							</tr>
							
							<tr>
								<th>1</th>
								<td>Jack Jackson</td>
								<td>JackJackson</td>
								<td>JackJackson123</td>
							</tr>

							<tr>
								<th>1</th>
								<td>Tom Tomson</td>
								<td>TomTomson</td>
								<td>TomTomson123</td>
							</tr>

							<tr>
								<th>1</th>
								<td>Daniel Radcliffe</td>
								<td>DanielRadcliffe</td>
								<td>DanielRadcliffe123</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		
		<script src="app.js"></script>
	</body>
	
	</html>
		
	</div>
	<script src="app.js"></script>
</body>

</html>