<div class="tiles">
	<a href="#" class="tile tile_violet">
		<div class="tile__image">
			<img src="../../../images/icons/student-journal.png" alt="journal">
		</div>

		<h3 class="tile__title tile_violet__title">Journal</h3>
	</a>

	<a href="#" class="tile tile_blue">
		<div class="tile__image">
			<img src="../../../images/icons/student-discipline.png" alt="discipline">
		</div>

		<h3 class="tile__title tile_blue__title">Discipline</h3>
	</a>

	<a href="#" class="tile tile_green">
		<div class="tile__image">
			<img src="../../../images/icons/student-schedule.png" alt="schedule">
		</div>

		<h3 class="tile__title tile_green__title">Schedule</h3>
	</a>

	<a href="#" class="tile tile_yellow">
		<div class="tile__image">
			<img src="../../../images/icons/student-exam.png" alt="exam">
		</div>

		<h3 class="tile__title tile_yellow__title">Exams</h3>
	</a>

	<a href="#" class="tile tile_orange">
		<div class="tile__image">
			<img src="../../../images/icons/student-teachers.pngd" alt="teachers">
		</div>

		<h3 class="tile__title tile_orange__title">Teachers</h3>
	</a>

	<a href="#" class="tile tile_red">
		<div class="tile__image">
			<img src="../../../images/icons/student-group.png" alt="groups">
		</div>

		<h3 class="tile__title tile_red__title">Groups</h3>
	</a>
</div>