<form class="register">
	<select class="selectpicker mb-20" data-live-search="true" name="disciplines" id="disciplines">
		<option selected class="d-none">Select discipline</option>
		<option value="john-johnson">Programming</option>
		<option value="jack-jackson">IT Essentials</option>
		<option value="tom-tomson">Web design</option>
		<option value="daniel-radcliffe">Game development</option>
	</select>

	<select class="selectpicker mb-20" data-live-search="true" name="teachers" id="teachers">
		<option selected class="d-none">Select teacher</option>
		<option value="john-johnson">John Johnson</option>
		<option value="jack-jackson">Jack Jackson</option>
		<option value="tom-tomson">Nick Nickson</option>
		<option value="daniel-radcliffe">Tom Tomson</option>
	</select>

	<div class="form-group">
		<span>Date and time: </span>
		<input type="datetime-local" class="form-field">
	</div>

	<select class="selectpicker mb-20" data-live-search="true" name="type" id="type">
		<option selected class="d-none">Select type of lesson</option>
		<option value="monday">Exam</option>
		<option value="tuesday">Midterm</option>
	</select>


	<input type="submit" class="btn btn-danger" value="Add"></input>
</form>