<form class="register">
	<select class="selectpicker mb-20" data-live-search="true" name="teachers" id="teachers">
		<option selected class="d-none">Select teacher</option>
		<option value="john-johnson">John Johnson</option>
		<option value="jack-jackson">Jack Jackson</option>
		<option value="tom-tomson">Tom Tomson</option>
		<option value="daniel-radcliffe">Daniel Radcliffe</option>
	</select>

	<select class="selectpicker mb-20" data-live-search="true" name="days" id="days">
		<option selected class="d-none">Select day</option>
		<option value="monday">Monday</option>
		<option value="tuesday">Tuesday</option>
		<option value="wednesday">Wednesday</option>
		<option value="thursday">Thursday</option>
		<option value="friday">Friday</option>
	</select>

	<div class="form-group">
		<span>Time: </span>
		<input type="time" class="form-field">
	</div>


	<input type="submit" class="btn btn-danger" value="Add"></input>
</form>