<form class="register">
	<select class="selectpicker mb-20" data-live-search="true" name="disciplines" id="disciplines">
		<option selected class="d-none">Select discipline</option>
		<option value="programming">Programming</option>
		<option value="it-essentials">IT Essentials</option>
		<option value="web-design">Web design</option>
		<option value="project-management">Project management</option>
	</select>

	<select class="selectpicker" data-live-search="true" name="teachers" id="teachers">
		<option selected class="d-none">Select teacher</option>
		<option value="john">John Johnson</option>
		<option value="jack">Jack Jackson</option>
		<option value="tom">Tom Tomson</option>
		<option value="daniel">Daniel Radcliffe</option>
	</select>
	<input type="submit" class="btn btn-info mt-20" value="Save changes"></input>
</form>