	<form class="register">
		<div class="form-group">
			<span>Login: </span>
			<input type="text" class="form-field" placeholder="Login">
		</div>

		<div class="form-group">
			<span>Password: </span>
			<input type="password" class="form-field" placeholder="Password">
		</div>

		<div class="form-group">
			<span>Full name: </span>
			<input type="text" class="form-field" placeholder="Full name">
		</div>

		<div class="select">
			<select name="roles" id="roles">
				<option value="student">Student</option>
				<option value="teacher">Teacher</option>
				<option value="admin">Admin</option>
			</select>
		</div>

		<input type="submit" class="btn btn-info" value="Register">
	</form>

