<aside class="aside">
	<h1 class="logo">
		<img src="../../../images/header-logo.jpg" alt="logo">
		<a href="#">E <span>University</span></a>
	</h1>

	<div class="nav-wrap">
		<nav class="main-nav">
			<ul class="list-hover-slide">
				<li class="item_violet"><a href="#"> <img src="../../../images/icons/student-journal.png" alt="journal">
						Journal</a></li>
				<li class="item_blue"><a href="#"> <img src="../../../images/icons/student-discipline.png"
							alt="discipline">Discipline</a></li>
				<li class="item_green"><a href="#"> <img src="../../../images/icons/student-schedule.png"
							alt="schedule">Schedule</a></li>
				<li class="item_yellow"><a href="#"> <img src="../../../images/icons/student-exam.png" alt="exams">Exams</a>
				</li>
				<li class="item_orange"><a href="#"> <img src="../../../images/icons/student-teachers.png"
							alt="teachers">Teachers</a></li>
				<li class="item_red"><a href="#"> <img src="../../../images/icons/student-group.png" alt="groups">Groups</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>