<div class="table-container">
	<table>
		<thead>
			<tr>
				<th>Order</th>
				<th>Theme name</th>
				<th>Dates</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Order 1</td>
				<td>Theme 1</td>
				<td>12.01.2020</td>
			</tr>

			<tr>
				<td>Order 2</td>
				<td>Theme 2</td>
				<td>12.01.2020</td>
			</tr>

			<tr>
				<td>Order 3</td>
				<td>Theme 3</td>
				<td>12.01.2020</td>

			</tr>

			<tr>
				<td>Order 4</td>
				<td>Theme 4</td>
				<td>12.01.2020</td>
			</tr>

			<tr>
				<td>Order 5</td>
				<td>Theme 5</td>
				<td>12.01.2020</td>
			</tr>
		</tbody>
	</table>
</div>