<div class="schedule">
	<div class="row">
		<h3 class="date">12.01.2020</h3>
		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_green">
					<h5>Web development</h5>
					<h5>9:00</h5>
				</div>

				<div class="tile__back tile__back_green">
					<h5><span>Lecture</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_red">
					<h5>IT Essentials</h5>
					<h5>11:00</h5>
				</div>

				<div class="tile__back tile__back_red">
					<h5><span>Seminar</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__front"></div>
		</div>

		<div class="tile">
			<div class="tile__front"></div>
		</div>

		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_green">
					<h5>Math</h5>
					<h5>17:00</h5>
				</div>

				<div class="tile__back tile__back_green">
					<h5><span>Lecture</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h3 class="date">13.01.2020</h3>
		<div class="tile">
			<div class="tile__front"></div>
		</div>

		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_yellow">
					<h5>IT Essentials</h5>
					<h5>15:00</h5>
				</div>

				<div class="tile__back tile__back_yellow">
					<h5><span>Midterm</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_violet">
					<h5>Physics</h5>
					<h5>17:00</h5>
				</div>

				<div class="tile__back tile__back_violet">
					<h5><span>Lab</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class=" tile">
			<div class="tile__front"></div>
		</div>

		<div class="tile">
			<div class="tile__front"></div>
		</div>
	</div>

	<div class="row">
		<h3 class="date">14.01.2020</h3>
		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_red">
					<h5>Web development</h5>
					<h5>13:00</h5>
				</div>

				<div class="tile__back tile__back_red">
					<h5><span>Seminar</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_blue">
					<h5>Math</h5>
					<h5>15:00</h5>
				</div>

				<div class="tile__back tile__back_blue">
					<h5><span>Exam</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_green">
					<h5>Web development</h5>
					<h5>17:00</h5>
				</div>

				<div class="tile__back tile__back_green">
					<h5><span>Lecture</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_green">
					<h5>IT Essentials</h5>
					<h5>19:00</h5>
				</div>

				<div class="tile__back tile__back_green">
					<h5><span>Lecture</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__front"></div>
		</div>
	</div>

	<div class="row">
		<h3 class="date">15.01.2020</h3>
		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_green">
					<h5>Chemistry</h5>
					<h5>9:00</h5>
				</div>

				<div class="tile__back tile__back_green">
					<h5><span>Lecture</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_violet">
					<h5>Math</h5>
					<h5>11:00</h5>
				</div>

				<div class="tile__back tile__back_violet">
					<h5><span>Lab</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__front"></div>
		</div>

		<div class="tile">
			<div class="tile__front"></div>
		</div>

		<div class="tile">
			<div class="tile__front"></div>
		</div>
	</div>

	<div class="row">
		<h3 class="date">16.01.2020</h3>
		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_red">
					<h5>Web development</h5>
					<h5>11:00</h5>
				</div>

				<div class="tile__back tile__back_red">
					<h5><span>Seminar</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_red">
					<h5>IT Essentials</h5>
					<h5>13:00</h5>
				</div>

				<div class="tile__back tile__back_red">
					<h5><span>Seminar</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__inner">
				<div class="tile__front tile__front_violet">
					<h5>Math</h5>
					<h5>15:00</h5>
				</div>

				<div class="tile__back tile__back_violet">
					<h5><span>Lab</span></h5>
					<h5><span>Teacher: </span>John Johnson</h5>
					<h5><span>Cabinet: </span>215</h5>
				</div>
			</div>
		</div>

		<div class="tile">
			<div class="tile__front"></div>
		</div>

		<div class="tile">
			<div class="tile__front"></div>
		</div>
	</div>

</div>