<form class="register" [formGroup]="regForm">
  <div class="form-group">
    <span>Login: </span>
    <input type="text" class="form-field" placeholder="Login" formControlName="login">
    <small *ngIf="login?.invalid && (login?.touched || login?.dirty)">login is required</small>
  </div>

  <div class="form-group">
    <span>Password: </span>
    <input type="password" class="form-field" placeholder="Password" formControlName="password">
    <small *ngIf="password?.invalid && (password?.touched || password?.dirty)">password is required</small>
  </div>

  <div class="form-group">
    <span>Full name: </span>
    <input type="text" class="form-field" placeholder="Full name" formControlName="fullName">
    <small *ngIf="fullName?.invalid && (fullName?.touched || fullName?.dirty)">full name is required</small>
  </div>

  <div class="select">
    <select formControlName="role">
      <option value="1">Student</option>
      <option value="2">Teacher</option>
      <option value="3">Admin</option>
    </select>
    <small *ngIf="role?.invalid && (role?.touched || role?.dirty)">role is required</small>
  </div>

  <input type="submit" class="btn btn-info" value="Register" (click)="register()">
</form>
