<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add student</title>
  </head>
  <body>
	  <form class="register">
			<div class="form-group">
				<span>Login: </span>
				<input type="text" class="form-field" placeholder="Login">
			</div>

			<div class="form-group">
				<span>Password: </span>
				<input type="password" class="form-field" placeholder="Password">
			</div>

			<div class="form-group">
				<span>Full name: </span>
				<input type="text" class="form-field" placeholder="Full name">
			</div>

			<div class="form-group">
				<span>Age: </span>
				<input type="number" class="form-field" placeholder="Age">
			</div>
			<input type="submit" class="btn btn-danger" value="Add student"></input>
		</form>
  </body>
</html>
