<div class="nav-side-menu">
	<div class="brand">
		<div class="brand-logo">
			<img src="../../images/header-logo.jpg" alt="header logo" />
		</div>
		<h2>EUniversity</h2>
		<div class="burger">
			<span></span>
		</div>
	</div>

	<div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out">
			<li>
				<a href="admin-panel.html">
					<i class="fas fa-home fa-lg"></i> Home
				</a>
			</li>

			<li data-toggle="collapse" data-target="#accounts" class="collapsed">
				<a><i class="fa fa-users fa-lg"></i> Accounts
					<span class="arrow"></span></a>
			</li>
			<ul class="sub-menu collapse" id="accounts">
				<li><a href="admin-students.html">Students</a></li>
				<li><a href="admin-teachers.html">Teachers</a></li>
				<li><a href="admin-admins.html">Admins</a></li>
			</ul>

			<li data-toggle="collapse" class="active" data-target="#groups" class="collapsed">
				<a><i class="fa fa-users fa-lg"></i> Groups
					<span class="arrow"></span></a>
			</li>
			<ul class="sub-menu collapse" id="groups">
				<li class="active"><a href="admin-groups.html">Groups</a></li>
				<li><a href="admin-groups-students.html">Students</a></li>
				<li>
					<a href="admin-groups-teachers.html">Teachers & Disciplines</a>
				</li>
				<li><a href="admin-students-attachment.html">Students attachment</a></li>
				<li><a href="admin-discipline-teacher-assign.html">Discipline & teachers attachment</a></li>
				<li><a href="admin-schedule.html">Schedule</a></li>
				<li><a href="admin-journal.html">Journal</a></li>
			</ul>

			<li>
				<a href="#">
					<i class="fa fa-solid fa-book-open fa-lg"></i> Materials
				</a>
			</li>
		</ul>
	</div>
</div>