<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../general/null.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../general/general.css" />
    <link rel="stylesheet" href="style.css" />

    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/531ea72487.js"
      crossorigin="anonymous"
    ></script>

    <title>Aside menu</title>
  </head>
  <body>
    <!--ASIDE MENU-->
    <div class="nav-side-menu">
      <div class="brand">
        <div class="brand-logo">
          <img src="../../images/header-logo.jpg" alt="header logo" />
        </div>
        <h2>EUniversity</h2>
      </div>

      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="admin-panel.html">
              <i class="fas fa-home fa-lg"></i> Home
            </a>
          </li>

          <li data-toggle="collapse" data-target="#accounts" class="collapsed">
            <a
              ><i class="fa fa-users fa-lg"></i> Accounts
              <span class="arrow"></span
            ></a>
          </li>
          <ul class="sub-menu collapse" id="accounts">
            <li><a href="admin-students.html">Students</a></li>
            <li><a href="admin-teachers.html">Teachers</a></li>
            <li><a href="admin-admins.html">Admins</a></li>
          </ul>

          <li
            data-toggle="collapse"
            class="active"
            data-target="#groups"
            class="collapsed"
          >
            <a
              ><i class="fa fa-users fa-lg"></i> Groups
              <span class="arrow"></span
            ></a>
          </li>
          <ul class="sub-menu collapse" id="groups">
            <li class="active"><a href="admin-groups.html">Groups</a></li>
            <li><a href="admin-groups-students.html">Students</a></li>
            <li>
              <a href="admin-groups-teachers.html">Teachers & Disciplines</a>
            </li>
          </ul>

          <li>
            <a href="#">
              <i class="fa fa-solid fa-book-open fa-lg"></i> Materials
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--ASIDE MENU-->

    <script src="app.js"></script>
  </body>
</html>
