$text-color: #005670;

body {
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(188,189,255);
  background: linear-gradient(0deg, rgba(188,189,255,1) 4%, rgba(206,255,255,1) 100%);
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;

  a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: $text-color;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #a974ff;
    }
  }

  .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media(max-height: 450px) {
    & {
      padding-top: 15px;
      a {
        font-size: 18px;
      }
    }
  }

  @media(max-width: 400px) {
	  & {
		  
	  }
  }
}

#main {
	transition: all .5s;
	padding: 16px;
}
